@tailwind base;
@tailwind components;
@tailwind utilities;

/* import highlightjs */
@import "highlight.js/styles/github.css";

/* import katex */
@import "katex/dist/katex.min.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

ol,
ul {
  list-style: inherit;
  padding-left: 1em;
}

td {
  padding: 0.25em;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(var(--foreground-rgb), 0.05);
}

pre {
  overflow-x: auto;
  padding: 1em 0;
}
